#settings:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*overflow: auto;*/
    overflow: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.settingsmodalcontent{
    background-color: #fff;
    margin-top: 31.5%;
    margin-right: 75%;
    padding: 20px;
    width: 25%;
    height: 40%;
}
.settingsmodalcontent span, .settingsmodalcontent p{
    text-shadow: none;
    color: #000000;
}
.closeBtn{
    color: #ccc;
    float: right;
}
.closeBtn:hover, .closeBtn:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}