#settings:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    bottom: 60px;
    left: 20px;
    /*position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;*/
    /*overflow: auto;*/
   /* overflow: none;
    background-color: rgba(0, 0, 0, 0.5);*/
}
.settingsmodalcontent{
    width: 500px;
    height: 400px;
    padding: 10px;
    background-color: white;
}
.settingsmodalcontent span, .settingsmodalcontent p{
    text-shadow: none;
    color: #000000;
}
.settingsmodalcontent .bottom-arrow:after {
    content: " ";
    position: absolute;
    left: 10px;
    bottom: -15px;
    border-top: 15px solid rgb(255, 255, 255);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }
.closeBtn{
    color: #ccc;
    float: right;
}
.closeBtn:hover, .closeBtn:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
/*Todo Modal*/
#todoBtn{
    cursor: pointer;
}
#todoModal {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: 3px solid #f1f1f1;
    z-index: 1;
    text-shadow: none;
    color: #000000;
  }
  
  #todoList {
    width: 350px;
    height: 350px;
    padding: 10px;
    background-color: white;
  }
  #pointer{
    border:solid 10px transparent;
    border-right-color:#fff;
    position:absolute;
    margin:-85px 0 0 -20px;
}
.title{
    text-align: left;
}
#todoList .bottomArrow:after {
    content: " ";
    position: absolute;
    right: 10px;
    bottom: -15px;
    border-top: 15px solid rgb(255, 255, 255);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }