@import "layout.css";
@import "login.css";
@import "modal.css";
@import "slider.css";
@import "optionList.css";
@import "dropdown.css";

html{
    box-sizing:border-box; 
    overflow-wrap: break-word;
}
*, *::before, *::after{ 
    box-sizing: inherit;
}
body{
    margin: 0;/*Reset*/
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #000000;
}

/*Main*/
#main{
    height: 100%;
    /*width: 100%;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;   
}
#bg-img{
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    /*background-image: url("/assets/img/spiritedaway.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Greetings Size*/
.greetings{
    font-size: 225%;
}
/*Home*/
#home{
    display: none;
    width: 100%;
}
/* Input for Name*/
#name{
    max-width: 150px;
    /*width:min-content;*/
    font-size: 225%;
   /*text-align: center;*/
    text-shadow: 2px 2px #000000;
    color: white;
    background: transparent;
    border: none;
    /*pointer-events:all;*/
    pointer-events: none;/*Enable later(edit name)*/
}
#name:focus{
    outline: none;
}
#editNameBtn{
    cursor: pointer;
}
#editNameBtn:hover{
    color: #5f5d5d;
}
.fa-pen-to-square{
    font-size: 25px;
}
.fa-trash{
    font-size: 25px;  
}
#editFocus:hover{
    color: #5f5d5d;
}
#deleteFocus:hover{
    color: #5f5d5d;
}
/*Clock*/
#clock-container{
   flex-direction: row;
}
.clock-container span{
    font-size: 800%;
    color: #fff;
}

/*.fa-ellipsis:hover{
    background-color: bisque;
    text-shadow: none;
    color: black;
    padding: 1px;
    border-radius: 10px;
}*/
/*Todo Input*/
#main-todo{
    /*display: none;*/
    
}
#mainTodo{

    font-size: 225%;
    text-shadow: 2px 2px #5f5d5d;
    background: transparent;
    text-align: center;
    color: white;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}
#mainTodo:focus{
    outline: none;
}
.mainFocus{
    font-size: 225%;  
    
}
/*Main Focus checkbox*/
#hiddenTodo{
    display: none;
    padding: 10px;
    height: 300px;
}
#hiddenTodo #sucess{
    display: none;
}
/*Todo Modal*/
#tasks{
   display: grid;
   justify-content: left;
   text-align: left;
   gap:10px;
   /*padding-top:20px;*/
   padding-left: 10px;
   width: 100%;
   height: 100px;

}
#todoClose{
    padding: 10px;
    cursor: pointer;
}
#lists{
    /*height: 90px;*/
}
.checked{
    text-decoration: line-through;
}
.newTask{
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.newTask:focus{
    outline: none;
}

.delBtn{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 20px
}
.delBtn:hover{
    color: red;
}
.item:hover{
    background-color: #dad2d2;

}
/*Pomodoro*/
#pomoNavs{
    display: flex;
    padding: 10px;
    gap:1px;
    color:black;
    justify-content: space-around;
}
.nav{
    padding: 5px;
    border: none;
    background-color: transparent;
}
.active{
    background-color: #f1e7bb;
}
.timer{
    font-size: 225%;
    padding: 10px;
}
.startBtn{
    margin: auto;
    justify-content: center;
    background-color: gray;
    border-radius: 10px;
    border:1px solid white;
    color: white;
    width: 100px;
    padding: 5px;
}
.startBtn:hover{
    background-color: #aa8080;
}
/*Settings Nav and Myquotes*/
#settingsRow{
    display: flex;
    height: 100%;
}
#settingsNav{

text-align: left;
height: 100%;
width: 30%;
border-right:1px solid gray;
}
#myQuotes{
    color:#000000;
    text-shadow: none;
    width: 70%;
    text-align: left;
    padding:10px;
    overflow-y: scroll;
}
/*Ul Lists for quotes*/
ul{
   padding: 0;
   list-style: none;
}
.quotesLi{
    font-size: 15px;
    padding: 10px;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#newQuotes{
    height: 100px;
    width: 100%;
}

#logoutBtn{ 
    bottom:0;
}
/*Media Queries*/
@media (max-width: 768px) {
    #login input{
        font-size: 150%;
    }
    #name{
        font-size: 150%;

    }
    .greetings{
      font-size: 150%;
    }  
    .clock-container span{
        font-size: 500%;
    }
}
@media (max-width: 547px) {
    #settingsRow{
        flex-direction: column;
    }
    #settingsNav{
        width: 100%;
        border-right:none;
    }
    #myQuotes{
        width: 100%;     
    }
}